h1, p, input {
    font-family: 'Lato', sans-serif;
}

#speechContainer {
    width: 400px;
    margin: 0 auto;
}

#submitButton {
    background-color: #9800f6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin-top: 20px;
}

#speechText {
    font-size: 30px;
    width: 500px;
}